.food-display{
    display: flex;
    flex-direction: column;
    max-width: 1330px;
    margin: 0 auto;
    padding: 20px 20px;
}

.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.no-results {
    text-align: center;
    color: #888;
    padding: 20px;
    font-size: 1.2rem;
    width: 100%;
  }
  
@media (max-width:1024px) {
    .food-display{
        max-width: 980px;
    }
}
@media (max-width:768px) {
    .food-display{
        max-width: 700px;
    }
}
